<div class="container">
  <div class="row">
    <div class="col-md-6">
      &nbsp;
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="stats-box-all-info pull-right">
          <i class="fa fa-address-card-o" aria-hidden="true"></i> 64
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info-box text-center">
          20
      </div>
      <div class="date-container">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span>Nov 28 - Dic 3 2017</span>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
              <thead>
                <tr>
                  <th>Día</th>
                  <th>Tareas</th>
                  <th>Proyectos</th>
                  <th>Trabajo</th>
                  <th>En la escuela</th>
                  <th>En la casa</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>L</td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>M</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>M</td>
                    <td>
                    <span class="failed">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>J</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>V</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>S/D</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info-box text-center">
          19
      </div>
      <div class="date-container">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span>Dic 4 - Dic 10 2017</span>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
              <thead>
                <tr>
                  <th>Día</th>
                  <th>Tareas</th>
                  <th>Proyectos</th>
                  <th>Trabajo</th>
                  <th>En la escuela</th>
                  <th>En la casa</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>L</td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="failed">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="failed">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>M</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="failed">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>M</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="failed">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>J</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="failed">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>V</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="failed">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>S/D</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info-box text-center">
          25
      </div>
      <div class="date-container">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span>Dic 11 - Dic 17 2017</span>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped">
              <thead>
                <tr>
                  <th>Día</th>
                  <th>Tareas</th>
                  <th>Proyectos</th>
                  <th>Trabajo</th>
                  <th>En la escuela</th>
                  <th>En la casa</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>L</td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>M</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>M</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>J</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>V</td>
                    <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>
                    <span class="checkmark">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                  </td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>S/D</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
</div>

