// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.info-box {
  background: #ffffff;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 348px;
  height: 336px;
  font-size: 15em;
  text-align: center;
  vertical-align: middle;
  line-height: 1.7em;
}

.stats-box {
  margin: 40px 0px;
  color: #5f5f5f;
}

span.checkmark {
  color: #043e9b;
  font-size: 22px;
}

span.failed {
  color: #ff0c00;
  font-size: 22px;
}

.stats-box-all-info {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  margin-bottom: 20px;
}

.date-container {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2em;
}
